body,
html {
  margin: 0;
  padding: 0;
}

.info-container {
  flex: 2;
  justify-content: center;
  align-items: center;
}
.steps-container {
  margin-top: 20px;
}
.ant-timeline.ant-timeline-label
  .ant-timeline-item-left
  .ant-timeline-item-content {
  inset-inline-start: calc(50% - 4px);
  width: auto;
  text-align: start;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
  text-shadow: 0 0 0.25px currentcolor;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #1677ff;
  background: #1677ff;
}
.custom-steps.ant-steps.ant-steps-navigation .ant-steps-item::after {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #001d66;
  border-bottom: none;
  border-inline-start: none;
  border-inline-end: 2px solid #001d66;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.filter-container .ant-select,
.filter-container .ant-picker,
.filter-container .ant-input {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
}

.filter-container .ant-btn {
  margin-left: 10px;
}

.layoutC {
  margin-left: 200px;
}

.failed-steps .ant-steps-item-active .ant-steps-item-title {
  color: red !important;
}
.complete-step .ant-steps-item-active .ant-steps-item-title {
  color: green !important;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-color: #1677ff;
}
.ant-layout {
  background: #ffffff;
}
.ant-steps.ant-steps-small .ant-steps-item-icon {
  margin-top: 10px;
}
.ant-layout .ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0;
  inset-inline-end: -40px;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001529;
  border-start-start-radius: 0;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  border-end-start-radius: 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media (max-width: 1300px) {
  .timeline-responsive {
    margin-left: -100px;
  }
}

@media (max-width: 1100px) {
  .filter-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter-container .ant-btn {
    flex-basis: 100%;
    margin-top: 10px;
    max-width: 150px;
  }
  .timeline-responsive {
    margin-left: -150px;
  }
}
@media (max-width: 990px) {
  .layoutC {
    margin-left: 0px;
  }
}

@media (max-width: 575px) {
  .ant-steps.ant-steps-navigation.ant-steps-vertical > .ant-steps-item::after {
    position: relative;
    inset-inline-start: 50%;
    display: block;
    width: 8px;
    height: 8px;
    margin-bottom: 8px;
    text-align: center;
    transform: translateY(-50%) translateX(-50%) rotate(135deg);
  }
  .ant-steps.ant-steps-navigation .ant-steps-item::before {
    background-color: transparent;
  }
}
