body,
html {
  margin: 0;
  padding: 0;
}

.layoutC {
  margin-left: 200px;
}

.ant-modal {
  padding: 0;
}

.ant-layout {
  background: #ffffff;
}

/* Component Styles */

/* Descriptions */
.ant-descriptions .ant-descriptions-header {
  margin-bottom: 0;
}

.Desc {
  margin-bottom: 15px;
}

.Desc .ant-descriptions-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Steps */

.ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  min-height: 50px;
}

.custom-steps {
  padding-top: 15px;
  padding-bottom: 15px;
}

.failed-steps .ant-steps-item-active .ant-steps-item-title {
  color: red !important;
}

.complete-step .ant-steps-item-active .ant-steps-item-title {
  color: green !important;
}

/* Tabs */
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #1677ff;
  background: #1677ff;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-color: #1677ff;
}

/* Timeline */
.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  width: 115px !important;
  text-align: start;
}

.ant-timeline.ant-timeline-label
  .ant-timeline-item-left
  .ant-timeline-item-content {
  left: 115px !important;
  width: calc(100% - 135px) !important;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-tail,
.ant-timeline-item-head {
  left: 125px !important;
}

/* Filter Container */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.filter-container .ant-select,
.filter-container .ant-picker,
.filter-container .ant-input {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
}

/* Sider Trigger */
.ant-layout .ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 35px;
  inset-inline-end: -40px;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001529;
  border-start-start-radius: 0;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  border-end-start-radius: 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Media Queries */

@media (max-width: 1100px) {
  .filter-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter-container .ant-btn {
    flex-basis: 100%;
    max-width: 150px;
  }
}

@media (max-width: 993px) {
  .layoutC {
    margin-left: 0px;
  }
}
@media (max-width: 880px) {
  .ClearAll {
    margin-top: 10px;
  }
}
@media (max-width: 740px) {
  .Apply {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .custom-steps {
    padding-top: 26px;
    padding-bottom: 0;
  }
  .Desc {
    margin-bottom: 20px;
  }
}
