body,
html {
  margin: 0;
  padding: 0;
}

.avatar-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  flex: 2;
}
.steps-container {
  margin-top: -100px;
}
.ant-timeline.ant-timeline-label
  .ant-timeline-item-left
  .ant-timeline-item-content {
  inset-inline-start: calc(50% - 4px);
  width: auto;
  text-align: start;
}

.custom-steps.ant-steps.ant-steps-navigation .ant-steps-item::after {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #001d66;
  border-bottom: none;
  border-inline-start: none;
  border-inline-end: 2px solid #001d66;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
